.presentation-container{
  background-color: antiquewhite;
  color: black;
  font-family: 'Inder';
  font-size: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 100px;
  gap: 250px;
}

.stack-icons-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.presentation-text{
  text-align: justify;
  width: 50%;
}