.footer-container{
    width: 100%;
    background-color: #bb5625;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-container{
    margin-right: 4rem;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-link-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-link{
    color: black;
    display: flex;
    align-items: center;
}

.copyright{
    margin-left: 2rem;
}


