@font-face {
  font-family: "MyFont";
  src: url("../KyivTypeSans-VarGX.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
    background-color: rgb(232, 232, 232);

  }
  
  body {    
    
    font-family: "MyFont", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; 
  
    
    display: flex;
    justify-content: center;
  }
  
  .swiper {
    width: 100%;
  }

  .App{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  